/* You can add global styles to this file, and also import other style files */
$color1 : #1C8C90;
$color2 : #1EBA88;

//Remove Arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nb{
    background-color: $color1;
}

.image{
background-image: url('../src/assets/icons/banner.png') ; 
background-size:cover;
background-position: right top;
background-repeat: no-repeat;
}
.footer{
    background-color: $color2;
    height: 100px;
}
.justify {
    text-align: justify;
  }
  .color{
    color: $color2;
  }
  .bcolor{
      background-color: $color2;
  }
