<app-navbar></app-navbar>
 
<!-- SECTION 1  -->
<div class="container-fluid text-light image  pt-5 " style="height: 1366px;" >

    <div class="row justify-content-center  pt-5 ">
        <div class="col-sm-11 col-lg-8  text-center  pt-5  ">
        <h1 class=" pt-5">¿Eres Director o Gerente de Empresa, de Ingenieria o de Tecnologias de la Informacion?</h1> 
        </div>
    </div>

    <div class="row justify-content-center  pt-5">
        <div class="col-sm-10 col-lg-7  ">
<p class="fw-normal fs-4 text lh-base px-5 justify" >
En esta Masterclass podras contar con una <strong class="fw-bold"> GUIA.</strong> del proyecto para 
su transformacion. Ademas contaras con el  <strong class="fw-bold">ANALISIS</strong> de procesos,
seleccion de  <strong class="fw-bold">TECNOLOGIAS</strong> y su  <strong class="fw-bold">ESTRATEGIA</strong> para implementarla. </p>
        </div>
    </div>


<div class="container" >
    <div class="row row-cols-2  row-cols-md-1 row-cols-lg-2 row-cols-xl-1">
        <div class="col " style="height: 75px;"></div>
        <div class="col " style="height: 75px;"></div>
        <div class="col " style="height: 75px;"></div>
        <div class="col " style="height: 75px;"></div>
    </div>
</div>

<div class="row  justify-content-end align-items-end text-center " >
    <div class="col-sm-12 col-lg-6 ">
        <div> <img class="mt-5" src="/assets/icons/masterclass.png" alt="Logo masterClass" ></div>
        <p class=" fw-light fs-3 text lh-1 mb-0 pt-5 ">TRANSFORMACION </p>
        <p class=" fw-bold display-2 lh-1  mb-0">DIGITAL</p>
        <p class=" fw-light fs-4 text lh-1 mb-0 pt-2 ">Impartida por el Mtro. Rosalino Zamarono </p>
        <p class="color fw-light   fs-4 text lh-1 mb-0 pt-2">Martes 06 de Junio </p>
        <p class="color fw-light   fs-4 text lh-1 pb-5 ">Via ZOOM </p>
<a href="#register"><button type="button" class=" text-white btn bcolor btn-lg px-5 "> Registarme ahora</button></a>
    </div>
</div>

</div>

    <!-- SECTION 2 -->
<div class="container-fluid  text-center pt-5 pb-5" >
    <div class="row ">
        <div class="col ">
        <p class=" fw-bolder fs-3 text lh-1 ">Impartida por  </p>
        <p class=" fw-bolder fs-3 text lh-1 ">Mtro. Rosalino Zamorano </p>
        </div>
    </div>

        <div class="row pt-5">
            <div class="col-sm-12 col-md-4 px-5 ">           
                 <div class="nb"style="height: 10px;"> </div>
                 <img src="/assets/icons/Estrella.png" class=" pt-5" alt="...">
                 <p class="fw-light fs-5 justify px-5 pt-5"> Amplia experiencia como Director de Tecnologias de la Informacion</p>
            </div>
  
            

            <div class="col-sm-12 col-md-8 pt-sm-5 pt-md-0 px-5">
                <ul class="list-group ">
                <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Flecha.png" >
                Administracion de servicios de TI, recursos informaticos y contratos de servicios en sede principal y 5 subredes (INTRANET).</li>
                <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Flecha.png" >
                Consolidacion de implementacion del ERP BANN Y</li>
                <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Flecha.png" >
                Diseño y construccion de MDFs de la INTRANET</li>
                <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Flecha.png" >
                Migracion de operacion critica de Data Center Comercial  </li>
                </ul>
            </div>
        </div>

<div style="height: 100px;"></div>
        <div class="row ">
            <div class="col-sm-12 col-lg-4 px-5 ">           
                 <div class="nb"style="height: 10px;"> </div>
                 <img src="/assets/icons/Estrella.png" class=" pt-5" alt="...">
       <p class="fw-light fs-5 justify px-5 pt-5">
Ingeniero en proyectos de implementacion de ERP BANN V y diseño e 
implementacion de red de comunicaciones y telecomunicaciones CIDESI </p>
            </div>
                    <div class=" col-sm-12 col-lg-5 px-5 pt-sm-5 pt-md-0 ">           
                    <div class="nb"style="height: 10px;"> </div>
                    <img src="/assets/icons/Estrella.png" class=" pt-5" alt="...">
                    <ul class=" pt-5">
                        <li class=" pt-2 fw-light fs-5 justify">Gerente de Computo y comunicaciones</li>
                        <li class=" pt-2 fw-light fs-5 justify">Gerente de Desarrollo de Software</li>
                        <li class=" pt-2 fw-light fs-5 justify">Desarrollador de Sistemas</li>
                        <li class=" pt-2 fw-light fs-5 justify">Administrador de Redes y Equipos de Computo</li>
                            
                        </ul>
                   </div>
                   <div class="col-3"></div>

    
        </div>
</div>

<!-- SECTION 3 -->
<div class="container-fluid text-center pt-5 pb-4">
    <div class="row justify-content-center">
        <div class="col-4 color ">
 <p class="fs-2  "> 
    <strong class="fw-bold"> Envio gratuito</strong>
      dirigido a profesionales de la industria
    </p>          
            </div>
    </div>
<div class="row pt-3">
    <div class="col-sm-12 col-lg-4 ">
        <p class="fw-light fs-5 justify px-5 pt-5 ">"Nuestro mercado es global pero nuesstra competencia tambien esta de ese tamaño"</p>
    </div>
    <div class="col-sm-12 col-lg-4">      
        <p class="fw-light fs-5 justify px-5 pt-5">"Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente
            aplicacion de los recuros con mejor RD4
        </p>
</div>
    <div class="col-sm-12 col-lg-4">       
         <p class="fw-light fs-5 justify px-5 pt-5">"La transformación Digital provoca que todo sea más rápido y eficiente."</p>
</div>

</div>
</div>

<!-- SECTION 4 -->
<div class="container-fluid text-center pt-5 pb-5">
    <div class="row justify-content-center pt-5 pb-5">
<div class="col-md-12 col-lg-6 px-5">
    <p class="fs-3 fw-bold px-5 "> La Transformacion Digital provoca que todo sea mas rapido y eficiente</p> 
        <p class="fs-5  px-5 pt-5 ">La capacidad de adaptarse a la nueva realidad es la clave de la Transformacion Digital</p>     
       <p class="pt-5">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ppJQKfqhFfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
       </p>
       <p class="color fs-5 pt-5"> Descubre entre otros temas:</p>
       <ul class="list-group ">
        <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Que_hacer.png" >
Estrategia        </li>
        <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Tecnologia.png" >
Seleccion de tecnologias        </li>
        <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Analisis_de_procesos.png" >
Analisis de procesos en la industria 4.G.        </li>
        <li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Hoja_de_ruta.png" >
Hoja de ruta para una implementacion exitosa.    </li>
                   
<li class="list-group-item border-0 fw-light fs-5 justify"> <img class=""  src="/assets/icons/Hoja_de_ruta.png" >
Que hacer para obtener el moderno aprovechamiento</ul>
</div>

<div id="register" [formGroup]="form"s class="col-md-12 col-lg-6 px-5 pt-sm-5 pt-lg-0 ">
    <p class="fw-bold fs-2  color px-5 "> No pierdas la oportunidad !Registrate ahora! </p>
    <div class="mb-3 text-start"  >
        <label for="exampleFormControlInput1" class=" form-label">Nombre</label>
        <input formControlName="nombre" type="" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3 text-start">
        <label for="exampleFormControlTextarea1" class="form-label">Apellido</label>
        <input formControlName="apellido" type=""  class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3 text-start">
        <label for="exampleFormControlTextarea1" class="form-label">Telefono</label>
        <input formControlName="telefono" type="number"  class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3 text-start">
        <label for="exampleFormControlTextarea1" class="form-label">Empresa</label>
        <input formControlName="empresa" type=""  class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3 text-start">
        <label for="exampleFormControlTextarea1" class="form-label">Cargo</label>
        <input formControlName="cargo" type=""  class="form-control" id="exampleFormControlInput1" >
      </div>

      <div class="mb-3 text-start">
        <label for="exampleFormControlTextarea1" class="form-label">Mail</label>
        <input formControlName="mail" type=""  class="form-control" id="exampleFormControlInput1" >
      </div>

<div class="mb-3 text-start pb-5">
    <label for="exampleFormControlTextarea1" class="form-label">Elige</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Opcion</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
</div>
<button type="button" class=" text-white btn bcolor btn-lg px-5 " [disabled]="form.invalid" (click)="clickRegister()">Registarme</button>
    
</div>
</div>
</div>

<app-footer class="pt-5"></app-footer>
